<h1>RESULTS:</h1>
<% if @game.winner == "Draw" %>
 <h1> it was a draw. YAWN... </h1>
  <audio autoplay="autoplay">
    <source src="/audio/Blanka-growl.wav">
  </audio>
 <% elsif @game.winner.name == "computer" %>
 <h1> You lost, the computer won with <%= @game.winner.pick %> YOU SUCK!!!</h1>
  <audio autoplay="autoplay">
    <source src="/audio/you_lose.wav">
  </audio>
<% else %>
  <h1> You won, with <%= @game.winner.pick %> HELL YEAH!!! </h1>
    <audio autoplay="autoplay">
      <source src="/audio/you_win.wav">
    </audio>
<% end %>
<a href="/rps" class="styled-button-8">Play Again!</a>